@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playwrite+AU+SA:wght@100..400&display=swap');

p{
    font-size: x-large;
    word-wrap: break-word; /* For breaking long words */
    word-break: break-all; /* For breaking long words */
    white-space: normal;   /* Ensure normal white space behavior */
}






