@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
@import url("./assets/styles/fonts.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "arabic-regular";
  user-select: none;
  font-family: "arabic-medium";
}

/* Animations */
@keyframes fly {
  0% {
    transform: translateY(0);
    box-shadow: none;
  }
  50% {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  }
  100% {
    transform: translateY(0);
    box-shadow: none;
  }
}

.animate-fly {
  animation: fly 4s ease-in-out infinite;
}
.animate-fly:hover {
  animation-play-state: paused;
}

/* in bible delete english refrence */
